# PA_1

In [11]:
import pandas as pd #Import Pands module

cars = pd.read_csv('cars.csv') #load in the downloaded csv file
print(f'The first 5 rows are: ') 
a = cars.head()
print(a) #print out the first 5 rows

print(f'The last 5 rows are: ') 
b = cars.tail()
print(b) #print out the last 5 rows

c = pd.concat([a, b])
c.to_csv('Nariz_Pandas-P1.py') #Save the output all together

The first 5 rows are:
               Model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

   carb
0     4
1     4
2     1
3     1
4     2
The last 5 rows are:
             Model   mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  \
27    Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.9   1   1     5
28  Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5
29    Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.5   0   1     5
30   Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.6   0   1     5
31      Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.6   1   1     4

    carb
27     2
28     4
29     6
30     8
31     2

# PA_2

In [13]:
import pandas as pd #Import Module Pandas

cars = pd.read_csv('cars.csv') #import the file
print(f'{cars}\n') #print out the values

a = cars.iloc[:5,::2] #a.) print out the first 5 rows with odd numbered columns
print(a)
print() #spaces for readability
a.to_csv('Nariz_Pandas-P2.py') #save the ouput to a csv

b = cars.loc[cars['Model'] == 'Mazda RX4'] #b.) print out the row that satisfies the condition Model == Mazda RX4
print(b)
print() #spaces for readability
b.to_csv('Nariz_Pandas-P2.py') #save the ouput to a csv

c = cars.loc[cars['Model'] == 'Camaro Z28', ['cyl']] #c.) print out the value of the Camaro Z28's cyl
print(c)
print() #spaces for readability
c.to_csv('Nariz_Pandas-P2.py') #save the ouput to a csv

#for d.) 
models = ['Mazda RX4 Wag','Ford Pantera L','Honda Civic'] #create a list for models
columns = ['cyl','gear'] #create a list for columns

#use for loop to iterate each element within the models
for model in models:
    print(f'Model: {model}') #print the models inside of list models
    d = (cars.loc[cars['Model'] == model, columns]) #print out the corresponding values that satisfies the condition
    print(d)
    print() #spaces for readability
    d.to_csv('Nariz_Pandas-P2.py') #save the ouput to a csv

                  Model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2

               Model  cyl   hp     wt  vs  gear
0          Mazda RX4    6  110  2.620   0     4
1      Mazda RX4 Wag    6  110  2.875   0     4
2         Datsun 710    4   93  2.320   1     4
3     Hornet 4 Drive    6  110  3.215   1     3
4  Hornet Sportabout    8  175  3.440   0     3

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

    cyl
23    8

Model: Mazda RX4 Wag
   cyl  gear
1    6     4

Model: Ford Pantera L
    cyl  gear
28    8     5

Model: Honda Civic
    cyl  gear
18    4     4